/*  * means covering the whole page */
* {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: blue;
  height: 80vh;
  min-height: 600px;
  background-image: url("https://i.ibb.co/HNvHSyV/image-header.jpg ");
  background-position: center bottom;
  background-size: cover;
  display: flex; /* makes it left to right*/
  flex-direction: column;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
}

/* padding = space within/inside the div
margin = space outside the div 
span is targeting the span elements inside the class*/

.menu span {
  margin-right: 30px;
  cursor: pointer;
}

.contact {
  background-color: white;
  color: black;
  padding: 8px 30px; /* top/bottom left/right*/
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out; /*for button hover*/
}

.contact:hover {
  background-color: antiquewhites;
}

.main {
  display: flex;
  flex-direction: column;
  /* when flex direction is switched from row to column align(left to right) and justify content(top to bottom) reverse*/
  align-items: center; /* initially top to bottom*/
  justify-content: center; /* initially left to right*/
  font-size: 70px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}

.arrow {
  margin-top: 60px;
}

.section1 {
  display: flex;
  height: 350px;
}

.section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .text-container {
  width: 70%;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

.left p {
  color: #848391;
  line-height: 1.3px;
  font-family: Arial, Helvetica, sans-serif;
}

.left .button {
  display: flex;
  align-items: center;
}

.left img {
  width: 150px;
}

.left .right {
  flex: 1;
}

.section2 {
}
